backports-abc==0.4
backports.ssl-match-hostname==3.4.0.2
CDDB==1.4
certifi==2015.11.20.1
ecdsa==0.11
gdata==2.0.18
gyp==0.1
mutagen==1.29
MySQL-python==1.2.5
paramiko==1.15.2
powerline-status==2.4
pycrypto==2.6.1
pygobject==3.18.2
PyJWT==1.4.0
pyxdg==0.25
singledispatch==3.4.0.3
six==1.10.0
SQLAlchemy==1.0.13
tornado==4.3
torndb==0.3
virtualenv==12.0.7
